<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mapper.BookMapper">

<!-- 단건조회 -->
  <select id="selectBook" resultType="com.yedam.vo.Book" parameterType="int">
    select * from book where id = #{id}
  </select>
<!-- 목록조회 -->
<select id="selectList" resultType="com.yedam.vo.Book">
 select *
 from book
 order by id desc
</select>
  
</mapper>